[2020-04-21 03:22] sunnyszy opened #10 "Adding get_controls function"
Besides the `set_controls()` interface, we have in coordinator and controller, I feel we should also define `get_controls()` interface. This allows:

- Easier unit test for `set_controls()`
- After set, the coordinator/controller can immediately call get to verify the set results. This gives a consistency guarantee.

My current definition:
[code]

[2020-04-21 03:23] sunnyszy commented on #10
If you guys feel okay, @mschottdorf can you add the function to the controller?

[2020-04-21 12:30] gdoubleyew commented on #10
Sounds good to me

[2020-04-21 15:21] mschottdorf commented on #10
yep, sure!

[2020-04-21 19:19] sunnyszy commented on #10
@mschottdorf FYI I added that yesterday as it is only copying your get_controls implementation :D

[2020-04-21 19:19] #10 closed

[2020-04-22 02:03] sunnyszy opened #15 "Implement internal threading in Controller"
Would you like to implement internal threading in ControlModuleSimulator, such that it would update the state after start? I would assume this would just refactor some code from your notebook to the ControlModuleSimulator class.

To be specific, I would like the Simulator has two functions: start(), stop(). So the GUI can have a button to click start/stop. Once start() is called, the simulator upd

[2020-04-22 14:59] mschottdorf commented on #15
Sure, I can do that

[2020-04-22 16:05] sunnyszy commented on #15
Thank you, Manuel!

[2020-04-22 16:16] mschottdorf commented on #15
done, see pull request

[2020-04-22 21:42] #15 closed

[2020-04-24 21:46] mschottdorf opened #20 "Add feature: Ringbuffers"
Add:
- Ring buffers for alarms, and internal record of breath-cycles.
- Functions to get this data and reset the buffers.

[2020-04-24 21:48] mschottdorf commented on #20
As discussed: there should be methods that allow: "get_alarms()" and "get_and_clear_alarms()"

[2020-04-28 23:42] mschottdorf commented on #20
done in the most recent commit

[2020-04-28 23:43] #20 closed

[2020-04-29 02:08] sneakers-the-rat opened #27 "Value unification"
Going to use this issue to keep track of the places where attribute/variable names need to take from `values`

`common.message.SensorValues` - https://github.com/CohenLabPrinceton/Ventilator-Dev/blob/35ee8be49741ad9a060cf76c650231686f8c8b37/vent/common/message.py#L5

`common.message.ControlSettingName` and many of its uses:
* coordinator: https://github.com/CohenLabPrinceton/Ventilator-Dev/blob/86

[2020-04-29 02:59] sunnyszy commented on #27
Would https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/26 look good to you?

[2020-04-30 14:03] sneakers-the-rat commented on #27
left some comments in that PR, i think this issue will be pretty stale by the time we get around to addressing these. don't wanna b pushy ;)

[2020-04-30 14:03] #27 closed

[2020-05-01 16:22] mschottdorf opened #32 "Timeouts on get_ and set_ functions with decorators?"
How do we set timeouts universally? Should we use decorators? Could use something along these lines:
[code]

Then on a function
[code]

We get a timeout on foo(11), but not on foo(1).

[2020-05-01 18:43] sunnyszy commented on #32
I would propose that let's think about what functions need a timeout. I feel GUI <-> coordinator, coordinator <-> controller don't really need it as they are within the same process, and the function is basically returned a copy of the value.

Coordinator IPC definitely needs a timeout. And does controller <-> sensor need a timeout?

[2020-05-02 07:43] sneakers-the-rat opened #34 "IndexError: empty axes in `control_module.__analyze_last_waveform`"
Have had this happen a few times if i leave the program running for a few minutes in the background. branch is current w/ https://github.com/CohenLabPrinceton/Ventilator-Dev/commit/32d64d05f622e445633393847e63ef8afbfd11f9

I think we should have the tests run for longer, ive seen a few errors come up only after the program has been running for a few minutes. or is there some way to make control mo

[2020-05-02 08:51] sneakers-the-rat opened #35 "Locks handled as @properties and a careful programming proposition"
**Note: this is something I think we should save effort on until we get a working prototype out, but want to write it down**

Reading through the code in a bit more detail while setting up alarms, and some of this locking is making me nervous. Please understand my intentions as genuine and goode and not trying to code shame. I raised this during our last call and just wanted to follow up

**Proble

[2020-05-02 08:52] sneakers-the-rat commented on #35
sorry laptop battery dying and wanted to post to save before i could finish commenting code!!!

[2020-05-02 15:59] mschottdorf commented on #34
Thanks for finding! I'll try to reproduce it!

[2020-05-02 20:04] mschottdorf commented on #34
I'm not sure what caused it, but I had a few dead stubs left over when I transitioned from the ring-buffer to deque. I've removed all this in the new PR. Might have resolved this bug as well.

I ran the test 20x, and let the code run for ~330.000 cycles. This all worked well.

![image](https://user-images.githubusercontent.com/3635994/80890784-94073880-8c8d-11ea-941a-715968945dd7.png)

[2020-05-03 02:00] CommReteris opened #38 "Error handling in vent.io"
Need to make sure all possible exceptions & hangs are caught.

See: [This](https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/31#discussion_r418366771) and
[this.](https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/31#discussion_r418367429)

[2020-05-03 02:01] CommReteris opened #39 "Abstraction layer for vent.io"
Create abstraction layer in vent.io for access by controller module.

[2020-05-03 07:05] sneakers-the-rat commented on #34
sorry for not providing reproducible error, thanks for checking it out. i'll let ya know if anything else pops up but by and large the simulation has worked well :)

[2020-05-03 07:08] sneakers-the-rat commented on #38
proposed a generalized method of doing this here:
https://github.com/CohenLabPrinceton/Ventilator-Dev/issues/35

give it a shot, haven't had a minute to actually test it, just a draft. All it requires is for us to build some logging system. The logging module is solid and I can draft up a way of spawning logging objects for each of the separate modules.

[2020-05-03 07:09] sneakers-the-rat commented on #38
scuse me - that general pattern of having a decorator to wrap sensitive calls in a try/except/finally block, sensor readings would probs look a bit different since they don't need locking.

[2020-05-03 23:08] mschottdorf commented on #32
I guess, we'll have to see how the sensor-abstraction layer turns out

[2020-05-03 23:11] mschottdorf commented on #35
makes perfect sense to me, had suggested something similar for timeouts. Let's talk about this in our next meeting, but I'd love to adapt this soon. Will make the code much cleaner!

[2020-05-04 01:23] sunnyszy commented on #32
Yes, I agree. I would suggest let's hold this issue a bit until we have more information about the requirement and the assumption about the sensor layers. To give a more concrete example, if the sensor call blocking probability is ~1 failure/month, it might not worth implementing this complexity into the logic. Remind that the coordinator will restart the controller process if it hangs.

[2020-05-04 22:22] sneakers-the-rat commented on #32
somehow didn't see this, v clever. think this is a great idea (although i would name the decorator `timeout` :) )

[2020-05-04 23:03] sneakers-the-rat opened #40 "Complex numbers"
The simulator sometimes breaks and starts spitting out complex values for pressure:

[code]

tracing it back the complex value gets assigned here:
https://github.com/CohenLabPrinceton/Ventilator-Dev/blob/87a83f5964ffbc1f40c558b07716e6f3977ca44c/vent/controller/control_module.py#L620

but i have no idea why it would be float sometimes and not other times....

[2020-05-04 23:11] mschottdorf commented on #40
intriguing.. Could be related to negative volumes, i.e. small errors if more air flows out than in. Will investigate. Thanks!

[2020-05-04 23:26] sneakers-the-rat opened #41 "Implementing Alarms"
Making a single place to talk about implementing alarms (as it applies to code, the slack channel is more for organizing w/ rest of team). I'll be editing this post as I work so it may change

My current understanding of what we had planned
* Controller and GUI both check for alarms, GUI serves as a double-check on alarm checking from controller (did we both get an alarm just now?) and otherwise t

[2020-05-05 00:32] sneakers-the-rat commented on #41
Currently the user sets the desired value of PIP as a control, but the value returned by `get_sensors` is pressure, which is also the value that users set limits on in the gui. Do we
* map the safe_range of pressure onto PIP, PEEP, etc? (eg. max range of pressure is max allowed pip?
or
* have `get_sensors` return measured PIP, PEEP, etc. and give each of them a `monitor` object to set ranges?

[2020-05-05 15:32] CommReteris commented on #39
See: #42

[2020-05-05 15:32] #39 closed

[2020-05-05 15:39] sneakers-the-rat commented on #34
same thing happened again w/ but only after like 15m https://github.com/CohenLabPrinceton/Ventilator-Dev/commit/17504a8914445993811f5abcf2b9fbd4a2d92769

going to run again w/ pdb for this and the complex number error and get back 2 u

[2020-05-05 15:40] sneakers-the-rat commented on #34
the gui stays alive, but the controller dies. seems like controller should be able to swallow numerical errors -- exception handling in the main loop

[2020-05-05 15:47] mschottdorf commented on #34
Yeah, can be done (just return a np.nan for peep and pip), but I really want to know want is going on here... might be something important

[2020-05-05 15:59] sneakers-the-rat commented on #34
traced it back to the `Qin` value from `SimulatedPropValve`

[2020-05-05 16:07] sneakers-the-rat commented on #34
actually wait no `x` in the line before is nan first

[2020-05-05 16:11] mschottdorf commented on #34
I'm pretty sure that can only happen if the pressure is np.nan - sounds like a bug in the balloon simulation. Can you give me parameters to try to reproduce this here?

[2020-05-05 16:12] sneakers-the-rat commented on #34
yes i believe the balloon is having some beef with natural law:

[code]

[2020-05-05 16:12] sneakers-the-rat commented on #34
`np.clip` volume to min zero?

[2020-05-05 16:23] sneakers-the-rat commented on #34
clamped volume to min 0 and i'm getting some cool other stuff like temperature shooting off to a billion. i think it might be that the simulation expects `dt` to be very small and having a large `dt` causes big error. i get the bug most when I minimize and remaximize the GUI window so it could be that the simulation hangs while that long draw is happening. all the more important to get into separa

[2020-05-05 16:24] sneakers-the-rat commented on #34
dk if that's just a simulator problem or if that's in the control logic, if it's just simulator i don't know that we need to spend a ton of time making it bulletproof. I do think that having erratic `dt`s would be a good test though.

[2020-05-05 16:25] mschottdorf commented on #34
I'll spend some time today on the simulator. This should be fixed... I think you're right, and this is likely a problem in the calculation of the OU process with large dt. There are a few other things in the simulator, that need fixing as well. E.g. controlled by solenoids, flows should be proportional to pressure differences. I'll add this right now

[2020-05-05 16:29] sneakers-the-rat commented on #34
ok cool. 10m runtime and the problem hasn't returned

[2020-05-05 16:30] sneakers-the-rat commented on #34
but ya in `Balloon.update` I just went like

[code]

[2020-05-05 18:42] mschottdorf commented on #34
![image](https://user-images.githubusercontent.com/3635994/81103148-a1ffc800-8ede-11ea-883d-f800d6207299.png)
look at that leaky balloon... that cannot be right!

[2020-05-05 19:17] mschottdorf commented on #34
Alright, I've made a PR with improved balloon physics. Hopefully, clipping the volume at zero is not necessary anymore - it shouldn't happen

[2020-05-05 19:18] mschottdorf commented on #40
This might have been related to the other issue with tormented physics

[2020-05-05 19:22] mschottdorf opened #44 "Exception Handling of Numerical Errors in Controller Main Loop"
Jonny suggested that the controller should be able to swallow numerical errors via exception handling in the main loop.
To make this reality, we should have a dedicated space to collect ideas what this practically means. Are numerical errors to be ignored (i.e. continue with last reasonable value), or smoothed out (clip into reasonable range), and how do we handle alarms?

[2020-05-05 19:31] sneakers-the-rat commented on #34
idk much about balloons but that balloon has got some attitude

[2020-05-05 19:32] mschottdorf commented on #41
For the protocol, the controller is logging past alarms (and past waveforms) up to 100 entries. It would be good to also save this sporadically in a file, possibly by the coordinator

[2020-05-07 00:40] sneakers-the-rat commented on #44
I feel like we should have some sort of temporal threshold for last reading that if we don't get them in that time we throw an alarm. Seems like that could be different for different values, and since we have some parameterization of values now we could set that there. Don't know the details of the controller to address the subtleties of the considerations we need to make.

[2020-05-07 14:36] mschottdorf commented on #40
PR is merged, fingers crossed!

[2020-05-07 14:36] #40 closed

[2020-05-07 14:37] mschottdorf commented on #34
PR is merged

[2020-05-07 14:37] #34 closed

[2020-05-08 00:26] sneakers-the-rat commented on #41
I was looking for how to send down limits on monitored values like `FiO2` and as far as I can tell there isn't such a thing in the controller. It looks like a lot of the variables that manage alarms in the controller are hardcoded. This makes it so it can't trigger an alarm for, eg. FiO2 going out of range. It also means that the controller needs to have its code modified every time there is a new

[2020-05-08 01:32] sneakers-the-rat opened #47 "Duplication of function in values"
At some point an additional variable `values.controllable_values` was created that has the same function as `values.CONTROL` . (same thing with `non_controllable_values` and `SENSOR`) In this commit there are already places where they are inconsistent, so i hope no illustration is needed as to why that’s less than optimal:

https://github.com/CohenLabPrinceton/Ventilator-Dev/blob/e05cb8095d4498891

[2020-05-08 06:23] sneakers-the-rat opened #49 "ConnectionRefused in RemoteCoordinator on Travis"
I have disabled the test for now because it caused travis to hang indefinitely, but my `test_gui_launch_mp` fails when the GUI tries to set a control. IMO this needs to be cleaned up into an object to handle exceptions. I have tried to clean up a few places where the coordinator would hang with a thread or process open in this PR https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/48 but sinc

[2020-05-08 15:14] mschottdorf opened #52 "Add feature: keep track of overall control signals/time"
Considering the finite live time of the components, and future maintenance of the device, we have to keep track of open/close cycles, and time since installing a particular sensor/valve.

This is a space to collect a few ideas of how to do this best, and how to dynamically save the state of the device. Are we generating a file?

[2020-05-08 18:30] sunnyszy commented on #49
I realize this is a mistake made by not properly killing the remote process. I've fixed it in https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/53. Would you like to merge this fix?

ps: this doesn't really relate to xmlrpc. Even using socket will have the same problem.

[2020-05-08 18:43] mschottdorf commented on #47
I also prefer option 1, as this is close to how most of the code is structured.

[2020-05-08 18:50] mschottdorf commented on #41
makes perfect sense to me. Yes, the code does not allow to send down alarms (yet)

[2020-05-08 18:56] #49 closed

[2020-05-08 21:26] sneakers-the-rat opened #54 "Logging"
Let's keep track of what we need to do for logging!!!

considerations
* make a standardized logging class that each object can instantiate, but don't necessarily make a centralized logging object that needs to be fed information.
* size - don't fill up the disk with logs. rotate logs, check how much space is left etc.

[2020-05-08 23:17] #32 closed

[2020-05-08 23:17] #35 closed

[2020-05-08 23:17] #38 closed

[2020-05-09 16:30] mschottdorf opened #55 "IndexError: cannot do a non-empty take from an empty axes."
Might be related to Jonny's reported bugs. When re-scaling, or switching between desktops, or running for a long time, the simulator crashes, or simulated temperatures/pressures go haywire.

I'm trying to figures out what is going on.

[code]

[2020-05-09 16:32] mschottdorf commented on #54
To merge this with the other issue-> Considering the finite live time of the components, and future maintenance of the device, we have to **keep track of open/close cycles**, and **time since installing a particular sensor/valve**.

[2020-05-09 16:32] mschottdorf commented on #52
this is now merged with issue #54

[2020-05-09 16:33] #52 closed

[2020-05-10 20:11] mschottdorf commented on #55
This bug is caused extremely long update-times. Here is a snapshot of the update times (in seconds) per controller iteration just before the controller went crazy:
![image](https://user-images.githubusercontent.com/3635994/81509403-74e55800-92d8-11ea-9084-c2de1374b834.png)

I don't know how to fix this (yet), but dt is considerably longer than an entire breath cycle.

[2020-05-11 17:58] sunnyszy opened #60 "UI fails in my Ubuntu desktop"
When running main.py, the UI doesn't start.

Code hash: ce66e4fbfa1f1318c02233c68c52124d893ce2dc
OS: ubuntu 18.04

[code]

[2020-05-11 17:59] sunnyszy commented on #55
When I replicate this bug, I found another bug that the GUI in my environment won't start. See: https://github.com/CohenLabPrinceton/Ventilator-Dev/issues/60

[2020-05-12 00:49] sneakers-the-rat commented on #41
I'm thinking that basically all alarm checking logic should come out of the controller except for the high-pressure response. I'll make the gui and controller reciprocal so that the gui also pulls controls from the controller so that if the controller drops PIP the gui will reflect that.

as i mentioned in the meeting earlier today, there's another way of categorizing values, `continuous` or `phas

[2020-05-12 21:49] mschottdorf commented on #41
The controller is also getting quite complex. Would be great to outsource some of that alarm code

[2020-05-13 22:29] mschottdorf commented on #55
With the current PR, the controller can now dead with long waits between updates:

![image](https://user-images.githubusercontent.com/3635994/81872360-98620a00-9547-11ea-8a0d-b6404abddecc.png)

But we have to figure out why this is happening.

[2020-05-14 01:21] sunnyszy commented on #55
This looks pretty cool!

[2020-05-14 18:11] sneakers-the-rat commented on #60
definitely an environment issue. try this

https://forum.qt.io/topic/93247/qt-qpa-plugin-could-not-load-the-qt-platform-plugin-xcb-in-even-though-it-was-found/9

[2020-05-14 18:12] sneakers-the-rat commented on #55
it looks like it can't find the font I added to the repo, so I'll have to troubleshoot that. the reason I packaged a font is because to specify q generic font you have to build the entire font db which is costly, like 5 seconds costly.

[2020-05-14 20:58] sunnyszy commented on #60
I tried this, however, the answer seems to assume the distribution is archlinux. Let's not worry about this right now, as I don't feel like this is a very important issue.

[2020-05-14 20:58] #60 closed

[2020-05-14 23:48] sneakers-the-rat commented on #41
Currently i have two alarm parameters:

if an alarm `latch` es, it a) does not decrement its severity even when the values fall back into a lower-severity range and b) is only cleared when both 1) the user has requested that the alarm be cleared and 2) the alarm values return to the ‘off’ range.
if an alarm is `persistent`, it a) is decremented in severity when values fall into a lower-severity ra

[2020-05-14 23:52] sneakers-the-rat commented on #41
4:51
Currently it is possible to clear an alarm
indefinitely - silencing an alarm will cause that alarm to not be raised again until it returns to OFF severity.
for a period of time - the gui will provide the user a choice of snooze times, and the alarm will not be raised again until the time is up.
they are mutually exclusive — if a timeout is provided, the alarm will not be re-raised if it goes

[2020-05-15 21:05] sunnyszy commented on #54
Python has a powerful logging system: https://docs.python.org/3.8/howto/logging-cookbook.html
I wonder whether we can leverage that.

Ideally, anything that can be serialized can be logged. But we may not want to log things that need to be read back again (e.g., persistent config).

[2020-05-17 19:59] mschottdorf commented on #55
On Grant's suggestion: For the plots above, I was running `coordinator = get_coordinator(single_process=True, sim_mode=True)`. I've done the same `coordinator = get_coordinator(single_process=False, sim_mode=True)`. This seems to solve the timeout-issue.

In its own thread, and with a goal sleep-time of 10ms between cycles in the controller, the average controller-loop-time was ~11.5ms. This plot

[2020-05-19 00:44] sunnyszy commented on #54
I forgot the schedule for this. Will you implement this @mschottdorf? Or I can take a look and implement this.

[2020-05-19 01:31] mschottdorf commented on #54
I've you have a free afternoon, go for it! I haven't had the time to do it

[2020-05-19 01:33] mschottdorf commented on #54
My plan was implementing two things:

- python's logging for general logs across threads, mostly because it is thread safe, and
- A hdf5-system, similar to [jonny's work](https://github.com/wehr-lab/autopilot/blob/2to3/autopilot/core/subject.py) within the controller to keep track of the waveforms.

[2020-05-19 01:47] sneakers-the-rat commented on #41
preserving some todo items from the pr

https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/64#discussion_r426008278

https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/64#discussion_r426010901

https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/64#discussion_r426011154

https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/64#discussion_r426012813

https://github.com/CohenLabP

[2020-05-19 02:45] sunnyszy commented on #54
Why not I do part one and you do part two? I used logging before.

[2020-05-19 03:07] mschottdorf commented on #54
go for it; for part 2, I'd probably write a class, and let the instance live in the controller thread. Any objections?

[2020-05-19 03:29] sunnyszy commented on #54
I second that. It would be easier to make it stateless, otherwise, you have to persist this class as well.

[2020-05-19 04:41] CommReteris opened #67 "Remote Coordinator test fails intermittently on Travis CI"
[code]

[2020-05-21 00:08] #67 closed

[2020-05-21 21:55] mschottdorf commented on #55
I'll close this. Problem was apparently solved by threading

[2020-05-21 21:55] #55 closed

[2020-05-27 10:23] #47 closed

[2020-05-29 00:06] sneakers-the-rat opened #72 "v1.0 - Todo"
Let's list the todo items, completion of which will indicate we have reached 1.0. As we list and start each of these things we can create separate issues to track or ask questions, but wanted to take the questions from the software architecture document and juice them into a todo-list taped to the repo.

Comment and i'll add to this list.

I'll make a separate issue for stuff we'd like to have but

[2020-05-29 00:21] sneakers-the-rat opened #73 "v1.0 - Implementing logging"
We now have a logging module (actually two!) and now we need to actually pepper our code with logging stuff.

I think it's probably best for each person to go through and add logging to their own modules b/c you know what needs to be logged, but let's have this issue so we can point out areas that need to be logged as we notice them.

The only basic guidelines i can think of are
* use `DEBUG` for

[2020-05-29 00:29] sneakers-the-rat opened #74 "v1.0 - Documentation"
Keeping track of what documentation needs to be written. Comment and i'll add

- [ ] Overview of project
- [ ] Setup: BOM/Parts lists
- [ ] Setup: Printing parts? instructions for that?
- [ ] Setup: Building the machine
- [ ] Setup: Installing the software
- [ ] Setup: Calibration & firstrun
- [ ] System operation overview - high level description of components
- [ ] UI operation manual
- [ ] Syst

[2020-05-29 00:30] sneakers-the-rat commented on #54
Closing b/c logging facility has been written.

[2020-05-29 00:30] #54 closed

[2020-05-29 00:39] #41 closed

[2020-05-29 20:35] sneakers-the-rat commented on #72
mayhem mode - fixture to specify what sensor values cause each alarm, then automate testing that throws a lot of them in random orders

[2020-05-29 21:45] sneakers-the-rat opened #75 "List of good features"
Let's start braggin.  What do we do well? Comment i'll keep this list updated

## Software as a whole

1. Is super fast. No problems with PID and 10ms loop time. If we find the time, we should measure how fast we actually are.

2. Very limited load on the PI. With 10ms loop time, controlling the dinky through ssh w/o UI is ~25% CPU load and 5% memory.

## GUI

- ay we have one
- Modularly designed

[2020-05-29 21:49] sneakers-the-rat opened #76 "List of bad features/risks"
What are the risks of the system? For each, describe the risk and how we mitigate it

## Platform

Risk | Mitigation
---- | ----------
Unpredictable systemic failure of raspberry pi chip | Stress testing on startup,
Unpredictable systemic failure of Raspbian operating system | Persistent program state survives restarts, testing, ???

[2020-05-30 20:39] sneakers-the-rat opened #77 "PIP out of range in controller tests"
I've seen this happen periodically when i commit and when i run tests locally, measured pip in the simulator is >2 different than the set pip:

in `test_control_dynamical`:

[code]

[2020-06-02 14:28] CohenLabPrinceton opened #79 "Pressurized Gas Requirements (ISO 80601-2-80)"
- [x] Check here when compliance details below are updated in the EUA Test Report Document

a) If the VENTILATORY SUPPORT EQUIPMENT is intended to be connected to a MEDICAL GAS PIPELINE SYSTEM complying with ISO 7396‐1, then it

- [x] a1: Must comply with "this part of ISO 80601" throughout RATED input range.

- [x] a2: shall not cause an unacceptable RISK under the SINGLE FAULT CONDITION of 1 000

[2020-06-02 14:31] CohenLabPrinceton commented on #79
Notes from ISO 80601:

_TL;DR = it's OK to have a regulator to keep the flow/pressure where we want. Also, even with overpressure we want flow to continue through the VBS and it's OK if flow rates are outside tolerance at this point._

NOTE 1 Internal pressure regulators can be needed to accommodate the SINGLE FAULT CONDITION of maximum input pressure, as well as the RATED range of input pressure.

[2020-06-02 14:32] mschottdorf opened #80 "Running as two processes on the PI: "Address already in use" OSError"
I'm running
[code]
on the Pi, and get the following error:
[code]
Consistent with that, the UI pops up, but no communication with the controller.

[2020-06-02 14:40] CohenLabPrinceton commented on #79
I've checked off (a1) because I think it just means that the VBS needs to function as described for all pressure within the RATED range we provide in our spec sheet.

[2020-06-02 15:13] zajdel commented on #79
For (b), our regulator is to be set to deliver 50 psi input pressure, which is 344 kPa < 600 kPa.

[2020-06-02 15:20] zajdel commented on #79
Concerning (a2), our regulator (SMC AR25-02BG, datasheet attached) has a maximum operating pressure of 1000 kPa and a proof pressure of 1500 kPa.

[2020-06-02 15:34] CohenLabPrinceton opened #81 "Pressure/Flow Compatibility Requirements (201.4.11.101.2)"
(- [ ] Is it update in the EUA doc?)

**If the VENTILATORY SUPPORT EQUIPMENT is intended to be connected to a MEDICAL GAS PIPELINE SYSTEM complying with ISO 7396‐1, then**

- [ ] a) the RATED range of input pressure shall cover the range specified in ISO 7396‐1, and

 b) under NORMAL CONDITION,

- [ ] 1) the maximum 10 s average input flowrate required by the VENTILATORY SUPPORT EQUIPMENT for each

[2020-06-02 15:36] CohenLabPrinceton commented on #81
I am a bit confused about the language "Average input flowrate *required* by the VSE..." Sounds like we need to show that our 10s average is <= 60 l/min at the gas input port. Seems like we'd address this with actual flow data that we'd compile into a figure.

[2020-06-02 15:42] CohenLabPrinceton commented on #81
We also need to establish a test protocol to collect these data and decide who will do it.

[2020-06-02 17:27] CohenLabPrinceton opened #82 "Overstretch on the test-lung during remote testing"
Test-lung over-stretched and damaged the springs and the lung bag itself.

Context: Manuel was remotely testing control and noted unstable and surprising behaviors in the system; possibly stuck or erratic valves?

Short-term Responses:

- [x] Mechanical limiter to stop this happening again

- [x] Swap to cheap test lung bag until we're confident

- [x] Rush order springs

- [x] Add pressure sensor

[2020-06-02 17:29] CohenLabPrinceton commented on #82
Tom ordered springs already.

[2020-06-02 17:55] CohenLabPrinceton opened #83 "Coupling the pressure sensor to the respiratory circuit"
We need to sterilely couple the pressure sensor to a sampling port *in the airway* (e.g. at the wye or immediately upstream). This could be a combined HMEF or coupling tube.

- [x] Sofie was going to handle the HMEF check.

- [x] Tom/Julie/Daniel were looking at general coupling tubes.

[2020-06-02 18:12] zajdel commented on #82
We've swapped to the balloon bag already. I have also moved the pressure sensor the right location.

I'm testing the mechanical limiter that Julie spec'd some time ago, since it fits into the manifold we're currently using and testing that.

[2020-06-02 18:22] zajdel commented on #82
So the pressure relief valve was installed in the wrong direction. It doesn't easily fit into the manifold the way it's supposed to, so I put it in the wrong way. I would say we had a mechanical failure of pressure limiting that could have been avoided. Earlier versions of Manuel's code would terminate while leaving the inspiratory valve open. In this 50 psi system, that leads to instant inflation

[2020-06-02 18:30] #79 closed

[2020-06-02 19:42] mschottdorf commented on #82
I looked at the logs from this morning. The situation happened in conjunction of three failures: (1) inspiratory valve stayed open, while expiratory valve was closed, (2) pressure measurement was not configured properly; therefore HAPA was not triggered [from the logs: recorded pressure always <50cmH2O] and (3) hardware failure of the relief valve.

To avoid this happening in the future:

1. While

[2020-06-02 19:51] zajdel commented on #82
The relief valve is for sure working now, so that's a backup safety that we have now, though that's up to 0.75 psi (50 cm H2O), so that should be the hardware-enforced limit.

[2020-06-02 20:03] CohenLabPrinceton commented on #82
@zajdel @mschottdorf thanks for tracking things down. I'm curious that the pressure never exceeded 50 cmH2O and I want to make sure this is real because I would have thought that enough pressure to overinflate that lung and overcome compliance would have gone higher than 50 cmH2O. Can we please confirm that the pressure sensor works properly; might have just been where it was positioned?

[2020-06-02 21:50] mschottdorf commented on #82
Let's do this tomorrow @zajdel; I've changed a few minor things in the code, but the pressure remains surprisingly low. Can we produce a defined pressure in the system, and I check what the controller believes the pressure to be?

[2020-06-03 01:00] zajdel commented on #83
Right now, this is being done via the D-lite, but this isn't going to be the long-term solution.

[2020-06-03 01:04] zajdel commented on #82
I have a physical gauge I can attach in the system near the pressure sensor. That should help at least verify the pressure. Another way would be to remove the test lung and run at full tilt, letting the pressure relief valve set the system pressure to a known 50 cmH2O.

[2020-06-03 13:35] ProfDJCohen opened #85 "TestReport: Compliance with IEC 60601-1 sec. 5 for testing"
This is a hard one. We need to certify to the best of our ability a variety of things about how testing is conducted. In some cases, we cannot do this (we do not have a synthetic 'finger' with a force sensor that we can use to test 'finger poking' resistance, for instance).

We may also need to do a humidity test. I need eyes on this and feedback.

We need serious advice on this.
[IEC-60601-1-s5.p

[2020-06-03 13:39] ProfDJCohen opened #86 "TestReport: Additional requireements for testing ME Equipment"
Ref: AAMI CR501 201.5.101.1 / ISO 80601-2-80

- [x] Updated in Test Report Doc

VENTILATORY SUPPORT EQUIPMENT test conditions
--

_a) For testing, the VENTILATORY SUPPORT EQUIPMENT:_

- [x] 1) shall be connected to gas supplies as specified for NORMAL USE;

- [x] 2) except that industrial grade oxygen and air may be substituted for the equivalent medical gas, as appropriate, unless otherwise state

[2020-06-03 13:40] #86 closed

[2020-06-03 13:46] ProfDJCohen opened #87 "TestReport: Testing Error Reporting"
Ref: CR501 201.5.101.3

- [ ] Updated?

VENTILATORY SUPPORT EQUIPMENT testing errors
--

- [ ] a) For the purposes of this document, declared tolerances shall include the measurement uncertainty.

- [ ] b) The MANUFACTURER shall disclose the measurement uncertainty of each disclosed tolerance in the technical description.

[2020-06-03 13:46] ProfDJCohen commented on #87
@zajdel @CommReteris @sneakers-the-rat @Sophie We need to make sure that we have a table of measurement uncertainty, etc. that we report in our labeling parameters and for every measured/derived parameter.

[2020-06-03 14:00] ProfDJCohen opened #88 "TestReport: UI and Units of Measure"
Ref 1: CR501 201.7.4.3 / 80601-2-80

Units of measure

a) All gas volume, flowrate and leakage specifications:

- [x] 1) shall be expressed at STPD (STANDARD TEMPERATURE AND PRESSURE, DRY);

- [x] 2) except those associated with the VBS which shall be expressed at BTPS (BODY

TEMPERATURE AND PRESSURE, SATURATED).

- [x] bb) The unit of AIRWAY PRESSURE measurement shall be capable of being configur

[2020-06-03 14:01] ProfDJCohen commented on #88
@sneakers-the-rat we need a 'units' setting where we can switch to hPa. I am not sure about the reporting of BTPS since we're not measuring anything that would be affected by that (I think).

[2020-06-03 14:03] ProfDJCohen opened #89 "TestReport: Certification and Spec'ing of Single Use Parts"
- [ ] a) if the VENTILATORY SUPPORT EQUIPMENT, its parts or ACCESSORIES are intended for single use,

information on characteristics and technical factors known to the MANUFACTURER that could pose a
RISK if the VENTILATORY SUPPORT EQUIPMENT, its parts or ACCESSORIES were reused.

b) if the VENTILATORY SUPPORT EQUIPMENT, its parts or ACCESSORIES are intended for single use,
information regarding:

[2020-06-03 14:05] ProfDJCohen commented on #89
@julie @zajdel all of our disposable parts for single-use need spec-sheets and justifications for duration of use/issues if not complied with. This is really important for the documentation I think. We'll need a complete list of all EXTERNAL accessories, biocompatibility of these, and certification info.

[2020-06-03 14:08] ProfDJCohen opened #90 "TestReport: Cert of Electrical Hazard Mitigation"
- [ ] Protection against electrical HAZARDS from ME EQUIPMENTNOTE: Unless there are electrical connections to the PATIENT (e.g. monitoring ACCESSORIES) or heated breathing tubes or electrically powered ACCESSORIES (e.g. expiratory valves located proximal to the PATIENT), the plastic breathing tubes provide adequate floating electrical isolation for PATIENT LEAKAGE CURRENT.

--

- [ ] NOTE: Commerc

[2020-06-03 19:45] ProfDJCohen opened #91 "TestReport: IEC 60601-1 Clause 9.3--SHARP EDGES"
We can't have sharp edges or corners. Not sure how these are formally assessed because our copy of IEC 60601-1 is missing the key sections.

For now, make sure all edges are rounded/chamfered appropriately. This will be important for the IP22 case design.

[2020-06-03 19:47] ProfDJCohen opened #92 "TestReport: Temperatures of key components during operation"
APPLIED PARTS not intended to supply heat to a PATIENT

Disclose temperature measurements of the following as applicable:

- [ ] Medical device enclosure
- [ ] External power supply enclosure
- [ ] External UPS/battery enclosure
- [ ] Gas supplied to the patient measured at the patient connection port
- [x] Any electrical patient applied parts

[2020-06-03 19:48] ProfDJCohen commented on #92
I think just need to use a thermocouple to measure these during use. We don't have any electrical patient-applied parts

[2020-06-03 19:54] ProfDJCohen commented on #92
Scratch that, this isn't relevant if we aren't using a heated humidifier for some reason. See AAMI CR501 for statement to that effect. Closed.

[2020-06-03 19:54] #92 closed

[2020-06-03 19:55] ProfDJCohen opened #93 "TestReport: Oxygen combustion safety"
Ref: CR501 Clause 11 / IEC 60601-1 (11.2.2.1 is MISSING)

**RISK of fire in an OXYGEN RICH ENVIRONMENT**

If the medical device is intended to be used with oxygen:

- [ ] 	Describe means of protection to reduce the risk of ignition

If the medical device is intended to be used with oxygen operating at medical gas pipeline pressures:

- [x] Describe means of protection to taken to ensure that auto-

[2020-06-03 20:00] ProfDJCohen commented on #93
AAMI CR502 implies that auto-ignition is only a risk at 5 bar or higher. 50 psig is 3.5 bar, so I think we're OK there. However, we need careful discussion of combustion risk mitigation.

[2020-06-03 20:04] juliennelachance opened #94 "test"
for Daniel

[2020-06-03 20:25] ProfDJCohen opened #95 "TestReport: Cleaning and Disinfection"
CLEANING and DISINFECTION of ME EQUIPMENT or ME SYSTEM

Describe the cleaning/disinfection protocol of the medical device and accessories

See ISO 80601-2-80 snapshot below (couldn't copy-paste)
![image](https://user-images.githubusercontent.com/66370401/83685511-ca024a00-a5b6-11ea-95ea-d140d757011b.png)

[2020-06-03 20:26] ProfDJCohen commented on #95
We need to discuss how to clean the inside of the vent and any 3D printed parts. We can discuss in our risk management assessment that we use dual HEPA filters specifically to ensure that anything leaving the vent is sterile so nothing can reach the patient that isn't sterile UNLESS there is a problem in the respiratory circuit itself, which is single-use. Thoughts?

[2020-06-03 20:27] #94 closed

[2020-06-03 20:31] juliennelachance commented on #93
Ignition risk mitigation includes: no contactors (like relays: everything we're using is solid-state) so as to avoid arcs; enclosure of the electronics; avoiding aluminum in the oxygen pathway; etc.

[2020-06-03 20:31] CohenLabPrinceton opened #96 "TestReport: Biocompatibility Report"
This has been strongly stripped down from the normal approach:

BIOCOMPATIBILITY of ME EQUIPMENT and ME SYSTEMS

`Provide a list of the materials used in the air path components`

![image](https://user-images.githubusercontent.com/56199891/83686124-b0153700-a5b7-11ea-9d9a-577e29c749b9.png)

[2020-06-03 20:38] CohenLabPrinceton opened #97 "TestReport: Alternate power supply"
Additional requirements Interruption of the power supply/SUPPLY MAINS   to ME EQUIPMENT

Describe:

- [x] •Means used to provide alternate power source

- [x] •Means to determine the state of the alternate power source

- [ ] •Run time of alternate power source

- [ ] •Alarm indications

[2020-06-03 20:39] CohenLabPrinceton commented on #97
@sneakers-the-rat we may need to incorporate an alarm for this in the UI that detects IF the alternate supply is in use. @zajdel easiest way to do this for an arbitrary UPS power supply? Alternately, we can spec one that actually alarms us when it is in use using an audible alarm.

[2020-06-03 20:43] CohenLabPrinceton opened #98 "TestReport: Accuracy of Controls and Visibility in the UI"
@sneakers-the-rat @mschottdorf this is about exceeding safety limits and constraining selected output values:

Clause 12 – Accuracy of controls and instruments and protection against hazardous outputs
IEC 60601-1 is the guideline for all particular standards and, therefore, contain some requirements of a more general character in order to serve this purpose. For this reason, it is necessary to hav

[2020-06-03 20:44] CohenLabPrinceton commented on #98
@juliennelachance here because of screen discussion.

[2020-06-03 20:46] CohenLabPrinceton commented on #98
nm, not required via AAMI update

[2020-06-03 20:49] CohenLabPrinceton opened #99 "TestReport: Pressure Controlled Vent standard"
This is a big one. I've uploaded direct from the ISO standard for this. This needs a real discussion. Someone besides me should go through and parse each instruction here as a checkbox.

[ISO 80601-2-80-2018_PCBreath.pdf](https://github.com/CohenLabPrinceton/Ventilator-Dev/files/4726153/ISO.80601-2-80-2018_PCBreath.pdf)

[2020-06-03 20:50] CohenLabPrinceton commented on #99
@mschottdorf @juliennelachance @zajdel we need to have a meeting go through this I think and design the test approach and make sure it's rock-solid so we don't have to repeat it and ensure we log data, etc.

[2020-06-03 20:56] CohenLabPrinceton commented on #98
We need to agree on some quick bullet point responses to this here, I think.

[2020-06-03 21:07] sneakers-the-rat commented on #80
i get this when a Python process is hung open from a previous run. we definitely should check for that and kill the process on startup. @sunnyszy it seems like you've got your hands full with the interview, would you like me to work on the coordinator re: this & other process management stuff?

[2020-06-03 21:13] sneakers-the-rat commented on #87
should the UI display static +/- % error tolerance message next to measured parameters?

[2020-06-03 21:16] mschottdorf commented on #80
Just an update, I still haven't managed to run the UI with two processes on the PI. Doing the optimization only with Hal & Controller rn

[2020-06-03 21:31] sneakers-the-rat commented on #98
I have a battery pack, but would be useful to have the battery pack that we plan on using for the final thing so i can test code that checks on power source

[2020-06-03 21:32] sneakers-the-rat commented on #97
I have a battery pack, but would be useful to have the battery pack that we plan on using for the final thing so i can test code that checks on power source

[2020-06-03 21:32] sneakers-the-rat opened #100 "GUI EUA Checklist"
Jonny collecting todo items that are necessary for the EUA

- [ ] https://github.com/CohenLabPrinceton/Ventilator-Dev/issues/98 - constraints on controlled values
- [ ] https://github.com/CohenLabPrinceton/Ventilator-Dev/issues/88 - Switching displayed units
- [ ] https://github.com/CohenLabPrinceton/Ventilator-Dev/issues/87 - Display error tolerance
- [ ] https://github.com/CohenLabPrinceton/Vent

[2020-06-03 23:07] CohenLabPrinceton commented on #87
Nope. These need to go in the labeling documentation and disclosures in the manual, not the machine UI

[2020-06-03 23:10] CohenLabPrinceton commented on #93
@juliennelachance thanks, but we need to be exhaustive, so please do not say ‘etc’. If there is something else that helps, write it explicitly. A concise, bulleted list is best.

[2020-06-03 23:32] CohenLabPrinceton commented on #97
@sneakers-the-rat I think we need an actual UPS that can keep the whole machine running for this. It might be an optional standard so we could just say 'not included', but it's better to have it. The Pi battery is also important, and maybe that would only engage when the UPS is needed. @juliennelachance do you and Rengo have a favorite battery pack we were going to use? Otherwise I'd say just use

[2020-06-03 23:44] zajdel commented on #97
Is the UPS to be included within the project enclosure, or can it be external?

[2020-06-03 23:55] zajdel commented on #99
I see why we have the QuickLung. That takes care of issues 7-10 in the test set up.

![pressure-control-setup](https://user-images.githubusercontent.com/28608975/83699947-6b979480-a5d3-11ea-9367-c696d14b205d.PNG)

Checklist for required test components:
- [ ]  1. Ventilatory support equipment under test (that would be the Dinky)
- [ ]  2. Pressure sensor (proximal) - we need to finalize the connec

[2020-06-04 00:13] zajdel commented on #99
Table 201.105 from ISO.80601-2-80-2018

| Test number | Intended delivered volume (mL) | Compliance (mL (hPa)^-1) | Linear resistance (hPa(L/s)^-1) +/- 10% | Leakage (mL/min) +/- 10% | Ventilatory frequency (breaths/min) | Inspiratory time (s) | Pressure (hPa) | PEEP (hPa) |
|-------------|--------------------------------|--------------------------|-----------------------------------------|-------

[2020-06-04 00:36] zajdel commented on #99
Section on pressure-controlled breath type (201.12.1.102)
- [ ]  a) If pressure-controlled breath type is provided, then with a pressure-controlled breath type selected and VSE operating in normal condition, the accuracy as determined for the test settings and conditoins specified shall be disclosed as the maximum bias error and maximum linearity error (example: +/- 3.0 + (5% of the set pressure))

[2020-06-04 00:44] zajdel commented on #99
Main takeaways for now:
- Instructions for use keep popping up. Our test results will have to corroborate with the instructions for use.
- We seem to need to disclose 4 maximum errors, all for the airway pressure: Inspiratory phase, Inspiratory phase + leak, Expiratory phase, Expiratory phase + leak
- Are we allowing operation without VSB compliance correction? Seems we are required to allow opera

[2020-06-04 09:31] CohenLabPrinceton commented on #97
External ok for EUA @zajdel

[2020-06-04 13:01] zajdel commented on #82
Test lung sent to IngMar Medical for repairs, and Manuel and I spent some time calibrating the pressure sensor in the airway, catching an important scaling error caused by our using a differential pressure sensor. This, along with safeties that Manuel put in the code, makes it so that this will not happen again!

[2020-06-04 13:01] #82 closed

[2020-06-04 14:39] CohenLabPrinceton commented on #99
@zajdel we do NOT need a temperature sensor for formal logging. That's actually excluded somewhere else in the EUA as irrelevant if we don't use a heated humidifier.

[2020-06-04 15:02] CohenLabPrinceton opened #101 "TestReport: Airway Pressure Protection"
Ref: ISO 80601-2-80 / 201.12.4.101.1

**General**

- [x] a) The VENTILATORY SUPPORT EQUIPMENT shall be equipped with MONITORING EQUIPMENT to indicate the AIRWAY PRESSURE.

- [x] b) The site of actual measurement may be anywhere in the VENTILATOR BREATHING SYSTEM, but the indicated value shall be referenced to the PATIENT‐CONNECTION PORT.

- [ ] c) Under steady‐state conditions, the indicated AIRWA

[2020-06-04 15:03] CohenLabPrinceton commented on #101
We need to confirm the error/accuracy of the pressure sensor. Do we have this in the spec sheet? How else should we quantify this?

[2020-06-04 15:05] CohenLabPrinceton opened #102 "TestReport: Low Airway Pressure Alarm"
Low AIRWAY PRESSURE ALARM CONDITION

- [x] a) The AIRWAY PRESSURE MONITORING EQUIPMENT shall be equipped with an ALARM SYSTEM that detects an

ALARM CONDITION to indicate when the low AIRWAY PRESSURE ALARM LIMIT is reached.

b) The low AIRWAY PRESSURE ALARM CONDITION

- [ ] 1) shall be at least a MEDIUM PRIORITY, unless

- [ ] 2) an INTELLIGENT ALARM SYSTEM, based on additional information, determ

[2020-06-04 15:07] CohenLabPrinceton commented on #102
@sneakers-the-rat @mschottdorf Here's alarm 1--LAPA. We discussed all of this, but please make sure we're still compliant and check the appropriate boxes.

Please also take a stab at writing a brief blurb for how the algorithm determines the ALARM LIMIT (and how the operator might be able to adjust).

[2020-06-04 15:14] zajdel commented on #99
Since we are not using a heated humidifier, (g) part ii and (o) are not relevant. Also, we will not need to use a temperature sensor (component 6). These parts have been checked off.

Is the data acquisition system for test (component 5) to be separate/distinct from the ventilator itself (component 1)?

[2020-06-04 15:17] CohenLabPrinceton opened #103 "TestReport: High-Airway Pressure Alarm -- the BIG ONE"
- [ ] a) If the MAXIMUM LIMITED PRESSURE is greater than 40 hPa (40 cmH2O), the VENTILATORY SUPPORT EQUIPMENT shall be equipped with an ALARM SYSTEM that detects a high AIRWAY PRESSURE ALARMCONDITION to indicate when the high AIRWAY PRESSURE ALARM LIMIT is reached.

 b) The high AIRWAY PRESSURE ALARM CONDITION

- [x] 1) shall be HIGH PRIORITY, unless

- [] 2) an INTELLIGENT ALARM SYSTEM, based on

[2020-06-04 15:18] CohenLabPrinceton commented on #103
@sneakers-the-rat @mschottdorf Here's the BIG ONE. Let's make sure we're all on the same page here. Lemme know if we should meet to go over these. We also need test protocols to make sure these work.

[2020-06-04 15:21] CohenLabPrinceton opened #104 "TestReport: Measurement of expired volume"
- [ ] If VENTILATORY SUPPORT EQUIPMENT is equipped with MONITORING EQUIPMENT for indicating the volume expired through the PATIENT‐CONNECTION PORT, the accuracy shall be disclosed in the instructions for use.

We need to quantify the tidal volume accuracy. @SophieDvali ?

[2020-06-04 15:23] CohenLabPrinceton opened #105 "TestReport: Max Limited Pressure Protection Device"
MAXIMUM LIMITED PRESSURE PROTECTION DEVICE

- [x] a) A PROTECTION DEVICE shall be provided to prevent the AIRWAY PRESSURE from exceeding the MAXIMUM LIMITED PRESSURE under both NORMAL CONDITION and SINGLE FAULT CONDITION.

- [x] b) The MAXIMUM LIMITED PRESSURE shall not exceed 90 hPa (90 cmH2O)

@juliennelachance @zajdel @sneakers-the-rat let's confirm our max pressure limit in the software as wel

[2020-06-04 15:28] zajdel commented on #105
We have a physical pressure release valve that will limit pressure to ~69 hPa (1 psi), placed just at the output of the inspiratory valve. The valve specs: [](https://www.mcmaster.com/4277T52)

Stated accuracy of set pressure release is +/- 20%, so within tolerance, the pressure limit is 55-83 hPa.

@mschottdorf can confirm his implementation of a software-based max pressure limit.

[2020-06-04 17:18] juliennelachance commented on #96
I went through the air pathway components. Not sure what all the medical-specific parts are made out of, but the spreadsheet is here:

https://docs.google.com/spreadsheets/d/1iNjTeL1b5Wdo9fmQ-OFB4NY6Sc-0JzTLDYsgRpo8cxQ/edit?usp=sharing

[2020-06-04 17:33] zajdel commented on #99
For component 8 in the test setup, pressure sensor, our Amphenol sensors (https://www.mouser.com/datasheet/2/18/1/DS-0103-Rev-A-1499253.pdf) have a response time to get to 90% pressure applied of < 100 microseconds.

[2020-06-04 17:51] juliennelachance commented on #104
This is a good question for Sophie- who has the D-Lite data.

[2020-06-04 18:34] juliennelachance commented on #101
The maximum linearity/hysteresis error at standard temperature is reported as +/- 0.5 %fs. Corresponding to a full-scale of 1 psi, this gives us an error of around 0.35 cm H20.

Datasheet for reference:
https://www.mouser.com/datasheet/2/18/1/DS-0103-Rev-A-1499253.pdf
We use the 1 PSI-D-4V-MINI as our system pressure sensor (with one side open to ambient).

[2020-06-04 18:40] juliennelachance commented on #99
The current read time is 2 ms per sensor. (So if you need to read more than one sensor, of course, it adds to the total time.)

[2020-06-04 18:41] juliennelachance commented on #99
Also: I am in favor of using the HME-F luer lock connector for now. So that takes care of checkboxes 2 and 5

[2020-06-04 18:43] zajdel commented on #101
Just to add to this, the nominal output voltage span is +/- 1.9 V to +/- 2.1 V. This could result in an error of up to 0.1 V / 2 V range (assumed) -> 0.05 psi or 3.5 cm H2O, worst case (5% off measured). We can easily calibrate the offset voltage (and should!), but may consider including an additional calibration procedure to measure the output span if this potential error must be reduced.

[2020-06-04 21:05] mschottdorf commented on #77
newest PR might resolve this. I've adjusted the gain of the controller to work on hardware.

[2020-06-04 21:30] SophieDvali commented on #104
I can calculate this using the flow data from the mfc. This is asking for just the error in the flow right since the tidal volume is just flow times the expiration time?

[2020-06-05 14:29] #44 closed

[2020-06-05 14:52] mschottdorf commented on #80
Update: there was an old python process listening on our default port (9533, specified in `rpc.py`). Found it with `lsof -i:9533`, killed it, and then the UI worked.

[2020-06-05 15:53] mschottdorf commented on #105
There is a software-coded maximum pressure limit, yes, that overwrites controller instructions and opens the exp. valve, and closed the inspiratory valve.
 If the hardware-config-file is correct, it actually works quite well :-)

[2020-06-05 17:01] zajdel commented on #105
It sounds like we have this covered, but I would like clarification on what the "single fault condition" is. We do limit pressure in two redundant ways during "normal operation." Does "single fault" simply mean that one component is not operating as desired?

[2020-06-05 17:16] zajdel commented on #97
The UPS we use in the lab (and many others, it seems) comes with a USB communication port. I am not knowledgeable on this subject, but this USB port is designed to be used with UPS monitoring software. I will look into what we would need to do to poll the UPS and get a status update.

Here's a tutorial about doing just that with a Pi.
[](https://medium.com/@mike.reider/monitor-cyberpower-ups-devic

[2020-06-05 19:13] sneakers-the-rat commented on #97
lmk whatever ups you have/how to query it and i can add status/timer in ui

[2020-06-05 21:05] mschottdorf commented on #80
@sneakers-the-rat might be food for thought when rewriting the task-controller in the coodinator

[2020-06-07 17:58] CohenLabPrinceton commented on #97
If the UPS has simple LEDs that light to indicate charge/function, that's also fine. COnsidering that a UPS is optional for the EUA, I'd say spend minimal time here. @sneakers-the-rat @zajdel

[2020-06-08 16:22] #77 closed

[2020-06-08 16:26] mschottdorf commented on #75
To the point of [PEEP valve] vs. [PID control of PEEP]. This works really well:

![image](https://user-images.githubusercontent.com/3635994/84055406-c5f17600-a982-11ea-8b73-bb8c5445c849.png)

Can be adjusted in the main controller loop with `PEEP_VALVE_SET = True`.

[2020-06-09 15:34] zajdel commented on #83
HMEF is working well, and has been tested with the control loop.

[2020-06-09 15:40] zajdel commented on #101
Our maximum error of +/- 3.5 hPa at full scale (1 psi = 70 hPa) is within the ± (2 + 4 % of the actual reading) hPa (cmH2O) requirement, even with the additional linearity error of 0.35 hPa that Julie cites, for a total error of +/- 3.85 hPa at full scale (our worst case). At full scale (70 hPa), we are allowed +/- 4.8 hPa error, according to the requirements.

I have checked the final box so this

[2020-06-09 15:50] zajdel commented on #97
Our UPS doesn't have an LED, but its LCD shows if it's running off of the battery or not.

We will use an [OMNI1500LCDT](https://www.tripplite.com/omnismart-lcd-120v-1500va-810w-line-interactive-ups-tower-lcd-display-usb-port-energy-star~OMNI1500LCDT) which is rated 810W output which should cover our system.

To determine runtime on battery, I would get a power monitor (like a Kill a Watt) and mon

[2020-06-10 23:26] SophieDvali commented on #104
When calculating just the error in the flow (from the dlite) I get a fractional error of around 5% which is reasonable and also consistent with what Philippe gets for the physics flow sensor. However, if I use error prop to get the error in the VT it becomes much higher (like 70%). I feel like there might be something wrong here.

[2020-06-12 16:13] CohenLabPrinceton opened #107 "TestReport: Low Airway Pressure Alarm (LAPA)"
Low AIRWAY PRESSURE ALARM CONDITION

- [ ] a) The AIRWAY PRESSURE MONITORING EQUIPMENT shall be equipped with an ALARM SYSTEM that detects anALARM CONDITION to indicate when the low AIRWAY PRESSURE ALARM LIMIT is reached.

b) The low AIRWAY PRESSURE ALARM CONDITION

- [ ] 1) shall be at least a MEDIUM PRIORITY, unless

- [ ] 2) an INTELLIGENT ALARM SYSTEM, based on additional information, determin

[2020-06-12 16:14] #107 closed

[2020-06-12 16:15] CohenLabPrinceton opened #108 "TestReport: VTE Measurement"
Measurement of expired volume
If VENTILATORY SUPPORT EQUIPMENT is equipped with MONITORING EQUIPMENT for indicating the volume
expired through the PATIENT‐CONNECTION PORT, the accuracy shall be disclosed in the instructions for use.

[2020-06-12 16:17] #108 closed

[2020-06-12 16:21] CohenLabPrinceton commented on #105
@zajdel single fault condition means if if a key component fails (just one).

[2020-06-12 16:23] #105 closed

[2020-06-12 16:48] CohenLabPrinceton opened #109 "TestReport: Hypoventilation Alarm"
- [ ] a. VSE must monitor and alarm for hypoventilation

- [ ] b. Alarm OFF is allowable here

- [ ] c. NOTE The hypoventilation ALARM CONDITION can be determined, inter alia, by the measurement of the variations of AIRWAY PRESSURE, or expired volume, but possibly needs additional detection means. The hypoventilation ALARM CONDITION can also be determined by an INTELLIGENT ALARM SYSTEM utilizing o

[2020-06-12 16:48] CohenLabPrinceton commented on #109
@mschottdorf @zajdel @sneakers-the-rat We need to describe how we do this.

[2020-06-12 16:49] CohenLabPrinceton opened #110 "TestReport: High Leakage Alarm"
- [ ] a) The VENTILATORY SUPPORT EQUIPMENT may be equipped with an ALARM SYSTEM that detects a TECHNICALALARM CONDITION to indicate when conditions in the VBS reach the ALARM LIMIT for high leakage.

- [ ] b) If provided, the high leakage TECHNICAL ALARM CONDITION shall be at least MEDIUM PRIORITY, unless an INTELLIGENT ALARM SYSTEM, based on additional information, determines that the high leakag

[2020-06-12 16:49] CohenLabPrinceton commented on #110
@mschottdorf @sneakers-the-rat need to confirm leakage alarm exists and works.

[2020-06-12 16:56] CohenLabPrinceton opened #111 "TestReport: CO2 Rebreathing"
CO2 rebreathing

- [ ] a) VENTILATORY SUPPORT EQUIPMENT shall be designed so that rebreathing of carbon dioxide is minimized to an acceptable level as specified by 5.3 of ISO 17510:2015. NOTE The design of the VENTILATORY SUPPORT EQUIPMENT can be such that this requirement is satisfied without a designated MASK or ACCESSORY.

- [ ] b) The non‐rebreathing performance of the VENTILATORY SUPPORT EQUI

[2020-06-12 16:57] CohenLabPrinceton opened #112 "TestReport: Prevention of accidental changes"
Protection against accidental adjustments

- [x] a) Means of protection against accidental adjustment of controls that can create a HAZARDOUS SITUATION

shall be provided, including at least the following.

- [x] 1) Switching on the VENTILATORY SUPPORT EQUIPMENT and starting the ventilation shall require two different actions.

- [x] 2) It shall be possible to set all VENTILATORY SUPPORT EQUIPMENT

[2020-06-12 16:59] CohenLabPrinceton commented on #112
@sneakers-the-rat @zajdel @juliennelachance big one on basic safety. I think our regulators, etc. are difficult to change accidentally. Our software controls include multiple confirmations, etc. Let's formally confirm these please by answering these check boxes.

[2020-06-12 17:01] CohenLabPrinceton opened #113 "TestReport: Additional Single Fault Conditions"
Additional specific SINGLE FAULT CONDITIONS
VENTILATORY SUPPORT EQUIPMENT shall be so constructed that the following SINGLE FAULT CONDITIONS do not cause an unacceptable RISK:

- [ ] a) misconnection of a VBS control connection, monitoring connection or ACCESSORY connection;

EXAMPLE Misconnection of expiratory valve control tubing to a gas sampling port.

- [ ] b) a disruption of the gas delivery

[2020-06-12 17:01] CohenLabPrinceton commented on #113
How do we detect/mitigate forgetting to include the HME or HEPA filters?

[2020-06-12 17:03] CohenLabPrinceton commented on #113
@juliennelachance @zajdel Might want to bring in DrDan if we need official things here, but we're probably OK if we can rely on our alarms (other than for filters)

[2020-06-12 19:48] CohenLabPrinceton opened #114 "Independence of ventilation control and risk control"
a) A SINGLE FAULT CONDITION shall not cause the simultaneous failure of:

- [ ] 1) the ventilation‐control function; and

- [ ] 2) the corresponding PROTECTION DEVICE.

b) A SINGLE FAULT CONDITION shall not cause failure in such a way that a failure of:

- [ ] 1) the ventilation‐control function and the corresponding MONITORING EQUIPMENT is not detected,
or

- [ ] 2) the ventilation‐control functi

[2020-06-12 19:48] CohenLabPrinceton opened #115 "TestReport: Programmable Electrical Medical Systems (PEMS)"
- [ ] Indicate whether the software was developed under a controlled life cycle process (e.g. IEC 62304 Medical device software — Software life cycle processes).   List any known unresolved software anomalies and workarounds.

[2020-06-12 19:49] CohenLabPrinceton commented on #115
We don't need to use 62304, but we should discuss this fairly.

[2020-06-12 19:59] CohenLabPrinceton opened #116 "TestReport: Gas and VBS Connections"
- [ ] a) A conical VBS connector shall be either a 11,5 mm, 15 mm or a 22 mm connector complying with ISO 5356‐1:2015 or not engage with those connectors.

- [ ] b) A non‐conical connector shall not engage with a conical connector complying with ISO 5356‐1:2015 unless it complies with the engagement, disengagement and leakage requirements of that standard.

- [ ] c) The VBS, its parts or ACCESSORI

[2020-06-12 19:59] CohenLabPrinceton commented on #116
@juliennelachance this is probably best for you to answer. Not sure about (c)

[2020-06-16 14:59] CohenLabPrinceton opened #117 "TestReport: Non-interchangeable ports"
- [ ] General OPERATOR‐detachable connectors used within the VBS for:

a) control functions;

b) monitoring functions; and

c) other ACCESSORY functions;shall be non‐interchangeable.
--

[2020-06-16 14:59] CohenLabPrinceton commented on #117
I think we're good here.

[2020-06-16 14:59] #117 closed

[2020-06-16 15:01] CohenLabPrinceton opened #118 "TestReport: Patient-Connection Port specs"
- [ ] Patient Conn. Port shall be one of the following:

a) a female 15 mm conical connector complying with ISO 5356‐1:2015, or

b) a coaxial 15 mm/22 mm conical connector complying with ISO 5356‐1:2015.

[2020-06-16 15:01] CohenLabPrinceton commented on #118
I think we use the co-ax 15/22, yes?

[2020-06-16 17:35] CohenLabPrinceton opened #119 "TestReport: Oxygen port connectors"
- [ ] a) An oxygen inlet connector of the VENTILATORY SUPPORT EQUIPMENT, which is OPERATOR‐detachable without the use of a TOOL, shall comply with ISO 80369‐1:2010.

--

- [ ] b) VENTILATORY SUPPORT EQUIPMENT with this inlet connector shall maintain BASIC SAFETY and ESSENTIAL PERFORMANCE with oxygen supply systems up to 600 kPa, in NORMAL CONDITION.

[2020-06-16 17:36] CohenLabPrinceton commented on #119
The full ISO 80601 (we don't have the other) specifies a 'RESP-6000' connector. We need a safe way of ensuring the O2 couples to the device and can handle 600 kPa (should be OK), but we need some specs on the actual couplings, hopefully using a part that is certified for 80369 standards.

[2020-06-16 17:39] CohenLabPrinceton opened #120 "TestReport: Certification of standards"
All VENTILATOR BREATHING SYSTEMS, their parts and ACCESSORIES shall comply with the requirements of this document, whether they are produced by the MANUFACTURER of the VENTILATORY SUPPORT EQUIPMENT or by another entity (“third‐party manufacturer” or healthcare provider).

[2020-06-16 17:39] CohenLabPrinceton commented on #120
@juliennelachance @sneakers-the-rat I think it might be safe to say something like:

•	Our device is designed to be produced by the healthcare provider or a third-party manufacturer
•	It uses off-the-shelf components or parts that are easy to reproducibly fabricate.
•	It incorporates a built-in testing routine to validate all alarms and basic safety standards.

[2020-06-16 17:40] CohenLabPrinceton opened #121 "TestReport: Documentation and Liability #1"
- [ ] a) The ACCOMPANYING DOCUMENT provided with each VBS, its parts or ACCESSORIES, compliant with 201.102.1, shall include at least one MODEL OR TYPE REFERENCE of compatible VENTILATORY SUPPORT EQUIPMENT.

--

- [ ] b) Statements shall be included in the ACCOMPANYING DOCUMENT of each VENTILATOR BREATHING SYSTEM, its parts or ACCESSORIES to the effect that:

- [ ] 1) ventilator breathing systems,

[2020-06-16 17:41] CohenLabPrinceton commented on #121
'Responsible organization' is a little unclear here.

[2020-06-16 17:45] CohenLabPrinceton opened #122 "TestReport: Anti-suffocation testing"
- [ ] c) Under these conditions, the inspiratory and expiratory pressure drop measured at the PATIENT-CONNECTION PORT with all recommended ACCESSORIES in place shall not exceed 6,0 hPa (6,0 cmH2O) at a flowrate of:

- [ ] 1) 30 l/min for VENTILATORY SUPPORT EQUIPMENT intended to provide a DELIVERED VOLUME, Vdel ≥ 300 ml;

- [ ] 2) 15 l/min for VENTILATORY SUPPORT EQUIPMENT intended to provide a DE

[2020-06-16 17:46] CohenLabPrinceton commented on #122
Need to make sure about the pressure drop when ALL of our HEPA and HMEF etc. are installed. How do we test this? @juliennelachance @zajdel @SophieDvali

[2020-06-16 18:26] juliennelachance commented on #119
We're assuming the existence of a commercial gas blender. So our couplers are ISO compliant: they will be standard O2 DISS fittings (NIST compliant).

[2020-06-16 18:43] #83 closed

[2020-06-16 18:46] zajdel commented on #89
List of single-use parts:
- PEEP valve
- HMEF
- DAR filters
- Respiratory tubing

[2020-06-16 19:56] juliennelachance commented on #122
We'll need to measure pressure at the inspiratory and expiratory connections. Maybe Tom can use one of our old 3d printed pressure take-off pieces to take the inspiratory pressure reading. Then the expiratory reading will come from the D-Lite as usual

[2020-06-16 20:01] juliennelachance commented on #81
Yes, it sounds like we should just record pressure and flow logs over the course of 10+ cycles. The flow rate should be well within range.

[2020-06-17 01:04] CohenLabPrinceton commented on #81
@juliennelachance we need to fix the pressure at 280 as well. @zajdel can we get these data relatively soon since we don’t need alarms or anything fancy?

[2020-06-18 15:20] CohenLabPrinceton commented on #85
Need to talk to consultants about how to handle this? Say "not evaluated"?

[2020-06-18 15:23] CohenLabPrinceton commented on #87
Update: @zajdel will test this using testing conditions for Pressure Control table from the ISO table. @SophieDvali can help fit the data if needed.

[2020-06-18 15:28] CohenLabPrinceton commented on #89
@SophieDvali maybe can help get the spec sheets for these.

Where does this go in the test report? Manual?

[2020-06-18 15:32] CohenLabPrinceton commented on #93
@zajdel speaker could be an issue.

[2020-06-18 15:36] CohenLabPrinceton commented on #95
Need @DrDan opinion on this. Likely household ammonia-based cleaning following a standard protocol.
What about the 3D printed manifolds? How do we clean PLA/ABS/PETG.
@SophieDvali can you look into the solenoid valves and the 3D printed manifolds? DrDan should be able to help recommend cleaning solutions.

[2020-06-18 15:40] CohenLabPrinceton commented on #102
@sneakers-the-rat @mschottdorf please check things off

[2020-06-18 15:41] CohenLabPrinceton commented on #101
@juliennelachance @zajdel please confirm the error statement.

[2020-06-18 15:43] CohenLabPrinceton commented on #112
@sneakers-the-rat please check off the boxes here.

[2020-06-18 15:45] CohenLabPrinceton commented on #119
@juliennelachance specs on our parts that we can list in the table.

[2020-06-19 17:37] SophieDvali commented on #87
I'm a little confused about the wording here, does this just mean we have to report the uncertainty of all measured quantities? Is this separate from the EUA items for reporting the error of the individual measured quantities?

[2020-06-20 02:53] sneakers-the-rat commented on #88
changing value over 2 orders of magnitude is actually sorta tricky when ur space constrained. got most of the way there but need to quit for the night.

[2020-06-21 03:26] sneakers-the-rat commented on #88
https://github.com/CohenLabPrinceton/Ventilator-Dev/commit/4c7c929df47941c2f3d7aad93c31c2311e44b339

[2020-06-21 03:26] #88 closed

[2020-06-21 03:29] sneakers-the-rat commented on #88
surprisingly hard to do

[2020-06-21 03:34] sneakers-the-rat commented on #102
https://github.com/CohenLabPrinceton/Ventilator-Dev/blob/296b47f3baf5d0d1179008bd833855163a06210d/vent/alarm/__init__.py#L36

Low pressure alarm is raised as a LOW severity alarm when measured PIP for a given breath cycle is 10% lower than the set PIP. A Low pressure alarm is elevated to a MEDIUM severity alarm if measured PIP is below 15% below the set PIP and a LOW severity low pressure alarm ha

[2020-06-21 03:36] sneakers-the-rat commented on #102
dk what ventilatory support equipment means

[2020-06-21 21:39] mschottdorf opened #123 "Optimizing PID control coefficients and performance"
This is to track progress on the dinky, and find the optimal settings to control hardware.

[2020-06-21 21:42] zajdel commented on #123
Main concern right now is that setting the pressure upstream of the prop valve may not be giving us a high enough flow rate to inflate the lung within 0.2-0.3 seconds, regardless of PIP setting.

[2020-06-21 21:45] CohenLabPrinceton commented on #123
@mschottdorf @zajdel can you put some waveforms up? Does this depend at all on the inspiratory time setting?

[2020-06-22 15:15] CohenLabPrinceton commented on #102
@sneakers-the-rat please confirm if the LAPA can be suppressed. I think everything else is good to go. VSE is the machine itself, I think, so that means if the machine calculates the alarm/severity, then describe how (which you did). Thanks!

[2020-06-22 15:17] CohenLabPrinceton commented on #122
@juliennelachance @zajdel I think this needs to be tested just at the proximal port. We need to measure the pressure drop during inspiration to get to the patient and the pressure drop from the patient to the exp valve essentially.

[2020-06-22 15:23] CohenLabPrinceton commented on #87
@SophieDvali these are the same things. We need to report the error for any quantities we show the user. I think if you have the error values for flow and volume then we should be good.

[2020-06-22 16:40] SophieDvali commented on #95
There's a bunch of Czech labs that tested all sorts of cleaning methods for 3D printed face shields (some of the tests were done specifically on COVID-19) they include things like UV-C, Isopropanol and Hydrogen peroxide (the full list is here: https://help.prusa3d.com/en/article/prusa-face-shield-disinfection_125457/ ) This is for PETG specifically. Since this is for face shields some of these mig

[2020-06-22 20:11] sneakers-the-rat commented on #115
not sure what's required here, unfamiliar with 'controlled life cycle processes.' if this could get juiced out into specific questions i can answer them. seems like 'how did we go about planning development?'

[2020-06-22 20:17] sneakers-the-rat commented on #114
need to know what
* SINGLE FAULT CONDITION,
* 'ventilation-control function',
* 'PROTECTION DEVICE', and
* 'MONITORING EQUIPMENT'
mean to answer this

[2020-06-22 20:20] sneakers-the-rat commented on #112
need to implement lock mode, on my life

[2020-06-22 20:22] sneakers-the-rat commented on #110
Tell me how to parameterize leak and i'll implement in alarm manager.

[2020-06-22 20:39] sneakers-the-rat commented on #103
https://github.com/CohenLabPrinceton/Ventilator-Dev/blob/4c7c929df47941c2f3d7aad93c31c2311e44b339/vent/alarm/__init__.py#L77

a) does this say that the alarm should only fire when PIP is set above 40? currently alarm fires whenever measured PIP is 15% above set PIP.

b) HAPA is always HIGH, and remains actively displayed until
* the measured pip is below 15% above set pip
AND
* the user manually a

[2020-06-22 20:43] sneakers-the-rat commented on #102
confirm LAPA can be suppressed - `latch = False` means if alarm conditions are no longer met the alarm is dismissed automatically, and if user requests dismissal the alarm is dismissed until pressure returns to and then exit normal range.
https://github.com/CohenLabPrinceton/Ventilator-Dev/blob/296b47f3baf5d0d1179008bd833855163a06210d/vent/alarm/__init__.py#L38

[2020-06-22 20:46] sneakers-the-rat commented on #87
unassigning myself since this is a docs thing for the hardware team. lmk if you need help using the docs tho.

[2020-06-22 20:47] sneakers-the-rat commented on #81
dk if i'm needed on this issue, unassign me if no gui stuff needed <3

[2020-06-22 20:51] CohenLabPrinceton commented on #110
@mschottdorf @zajdel we need to think about how the controller knows when there is a leak. Normally that would be handled by mass conservation with dual flow sensors, but we need an alternative. Might be issues with rise time, or maintaining pressure, etc.

[2020-06-22 21:41] sneakers-the-rat commented on #98
prompting for unsafe values implemented here: https://github.com/CohenLabPrinceton/Ventilator-Dev/commit/eccf78b56d75e1a997ce4f932677dab76ad6e7d0

- each controlled value has a `safe_range` .
- if the user attempts to set a value outside of the `safe_range`, they are prompted with a message like this:

<img width="538" alt="Screenshot 2020-06-22 14 40 19" src="https://user-images.githubusercontent

[2020-06-22 23:22] sneakers-the-rat commented on #98
locking impemented: https://github.com/CohenLabPrinceton/Ventilator-Dev/commit/f93c78bc3ba32311b79aa461a9304ae8db18e3ca

before starting:
<img width="1680" alt="Screenshot 2020-06-22 16 19 30" src="https://user-images.githubusercontent.com/12961499/85344371-5a3ffa80-b4a4-11ea-819d-f250ff0a5325.png">

after starting, the ui starts in 'locked' mode by default, indicated by the green 'lock' icon and

[2020-06-24 09:08] sneakers-the-rat commented on #112
lock mode implemented

[2020-06-24 13:41] zajdel commented on #123
Significant progress achieved by using gain scheduling to account for the delay in the pressure propagation. Committed, but not pushed yet. I think I just need to be given push access to manuel's fork.

[2020-06-24 13:44] zajdel commented on #123
![image](https://user-images.githubusercontent.com/28608975/85567905-3e04a080-b5ff-11ea-9cda-eaa8caf6de7f.png)

Showing results from test condition 4 (compliance: 20, resistance: 20, PIP: 35, PEEP: 10)

[2020-06-24 15:13] mschottdorf commented on #123
I'll implement djc's matlab export, fix J's issues with the PR, then merge your stuff, and we are good :-)

[2020-06-24 21:19] mschottdorf commented on #115
- Current software-anomaly: glitches from the hardware sensors.

[2020-06-26 18:24] CohenLabPrinceton opened #126 "Flow: Fix the GUI, fix the calibration"
- [ ] Tidal Volumes calculation and display needs to be correct

- [x] LPM not LPS for flow

- [ ] @juliennelachance will follow up with @SophieDvali

- [ ] Revised interface

[2020-06-29 22:06] sneakers-the-rat commented on #126
what does 'revised interface' mean?

[2020-06-29 22:07] sneakers-the-rat commented on #112
5) is here: https://github.com/CohenLabPrinceton/Ventilator-Dev/commit/67745423707d28f3d8b9238433542be21451ac37

[2020-06-29 22:08] sneakers-the-rat commented on #112
what's the difference between (3) and (4)?

[2020-06-30 00:29] sneakers-the-rat commented on #109
VTE can now set High/low VTE alarm by recording recent values, just need to know what i should use as the alarm threshold (eg. +/- 10% of set value like PIP, etc.)
https://github.com/CohenLabPrinceton/Ventilator-Dev/commit/88faef7bc1e5bf982c6abc3a2d71313329c64d1f

[2020-06-30 00:31] sneakers-the-rat commented on #120
not sure what is needed on this one from me

[2020-06-30 00:39] sneakers-the-rat commented on #112
ventilator can be turned off with two deliberate actions - pressing STOP and then pressing "OK" in dialog box that asks user to confirm stopping ventilation and warns that doing so prematurely is dangerous. if 3 and 4 are equivalent this is finished:

https://github.com/CohenLabPrinceton/Ventilator-Dev/commit/9302c9f0ef627b171b291b6ab04d4a5a42924289

[2020-06-30 01:06] sneakers-the-rat commented on #126
displayed units are now correct (L/min rather than l/s) https://github.com/CohenLabPrinceton/Ventilator-Dev/pull/127/commits/55a48cf19c2679f4548f0144dd8e34a08bfeac3b#

[2020-07-31 23:06] sneakers-the-rat opened #130 "Remove all traces of PEEP_TIME"
I'm removing the PEEPt setting from the GUI now, but it looks like it's still used elsewhere in the code. Want to make sure the removal is safe & there aren't any side effects of it hanging around in the code.

If i'm way off and y'all have come up with some better solution then my b go ahead and close this.

I can handle the trivial ones in the gui and `vent.common.values` but I need some advice

[2020-08-09 22:19] #80 closed

[2020-08-12 05:00] sneakers-the-rat commented on #112
closing this unless there's further comment

[2020-08-12 05:00] #112 closed

[2020-08-12 05:00] #98 closed

[2020-08-12 05:17] sneakers-the-rat opened #133 "HAPA correction in controller overwritten"
I'm debugging the erratic_dt controller test and I noticed something weird, I kept getting HAPA warnings, but the set PIP remained at its default 35. When Pressure goes above the hapa_limit (initialized from default values, but updated from alarm_manager in normal usage) for a time longer than cough_duration, the Controller should set valves to close immediately and change the set PIP to 30:

http

[2020-08-12 05:29] sneakers-the-rat opened #134 "erratic_dt_test is correctly failing"
test_erratic_dt is failing now, with very high PIPs being the main issue. The test didn't fail before https://github.com/CohenLabPrinceton/pvp/commit/74f5b7ec28eda70b03965867193eb963fa3407b2

wherein sleeping for `_LOOP_UPDATE_TIME` was reinstated.

`test_erratic_dt` sets `_LOOP_UPDATE_TIME` to test erratic dts, which wasn't being slept on in the visible past. I confirmed that the problem was the

[2020-08-12 05:35] sneakers-the-rat commented on #133
did the `COPY_SET_PIP` write in this commit https://github.com/CohenLabPrinceton/pvp/commit/57dc87e13b34b5e38f9289ff3f5e51f78e8b1374

[2020-08-12 05:37] sneakers-the-rat commented on #134
updated erratic_dt test to use simulated dt and wait for a specific number of breath cycles rather than a specific amount of time (which, since it was being sampled uniformly in time, had the chance of unevenly weighting breath cycles if they take different amounts of time, and always underweighted the last breath cycle)
https://github.com/CohenLabPrinceton/pvp/commit/57dc87e13b34b5e38f9289ff3f5e5

[2020-08-13 04:28] mschottdorf commented on #133
Hm, the logic of the old thing was: if HAPA, open the exp. valve and close the insp. valve as soon as possible to reduce the excess pressure, and continue with hardcoded PIP of 30. In principle, PIP to 30 could be removed.

The only really important thing about HAPA is to close inspiration & open expiration to reach a safe pressure. Once that is done, usual cycling should (even has to?) commence.

[2020-09-05 02:29] mschottdorf commented on #133
has beed removed; and HAPA algorithm simplified

[2020-09-05 02:29] #133 closed

[2020-09-05 02:29] mschottdorf commented on #73
@sneakers-the-rat This is all done, isn't it?

[2020-09-25 17:10] mschottdorf commented on #134
solved in `f874a6a50820f84bead3a966bb4e36c325dc4d6b`

[2020-09-25 17:10] #134 closed

[2020-10-02 22:20] mschottdorf opened #143 "Make sure technical alarms are raised"
I've never seen a blue box; maybe bug?

[2020-10-02 22:21] mschottdorf opened #144 "After VTE update, make this Version 1.0 of pvp"
As the title says, make sure we have a version 1.0 that people can install on their laptops

[2020-10-06 14:48] #99 closed

[2020-10-06 15:38] mschottdorf commented on #143
I've done some digging:

In the pushed version, we update oxygen [every 5 seconds](https://github.com/CohenLabPrinceton/pvp/blob/34af3be9664b5a175d195e578f62e3fec93b5434/pvp/controller/control_module.py#L880), but _should_ raise a stuck-sensor alert if a number doesn't change >0.2s [ this is `prefs.get_pref('CONTROLLER_MAX_STUCK_SENSOR')` ]. As it should, the controller is generating a warning, an

[2020-10-09 19:28] CohenLabPrinceton commented on #122
Closing all TestReport issues for cleanup

[2020-10-09 19:28] #122 closed

[2020-10-09 19:29] #93 closed

[2020-10-09 19:29] #95 closed

[2020-10-09 19:29] #96 closed

[2020-10-09 19:29] #97 closed

[2020-10-09 19:29] #101 closed

[2020-10-09 19:29] #102 closed

[2020-10-09 19:29] #103 closed

[2020-10-09 19:29] #104 closed

[2020-10-09 19:29] #109 closed

[2020-10-09 19:29] #110 closed

[2020-10-09 19:29] #111 closed

[2020-10-09 19:29] #113 closed

[2020-10-09 19:29] #115 closed

[2020-10-09 19:29] #116 closed

[2020-10-09 19:29] #118 closed

[2020-10-09 19:29] #119 closed

[2020-10-09 19:29] #120 closed

[2020-10-09 19:29] #121 closed

[2020-10-09 19:29] #85 closed

[2020-10-09 19:29] #87 closed

[2020-10-09 19:29] #89 closed

[2020-10-09 19:29] #90 closed

[2020-10-09 19:29] #91 closed

[2020-10-09 19:30] #81 closed

[2020-10-09 19:30] #114 closed

[2020-10-09 19:30] #126 closed

[2020-10-09 19:31] #74 closed

[2020-10-09 19:31] #75 closed

[2020-10-09 19:31] #76 closed

[2020-10-09 19:32] #73 closed

[2020-10-09 19:32] mschottdorf commented on #73
done!

[2020-10-09 19:32] mschottdorf commented on #123
also done!

[2020-10-09 19:32] #123 closed

[2020-10-09 19:33] mschottdorf commented on #130
all removed in the controller

[2020-10-09 19:33] #130 closed

[2020-11-25 22:30] #144 closed

[2022-01-27 01:54] sneakers-the-rat opened #150 "Bump Versions"
We were constrained to python3.7 by raspiOS in 2020, but recent versions have bumped the version on the repositories to 3.9. We should get a test pi up and running and update our dependencies accordingly. When we get there I can contribute to repackaging because as is it's a little bit of a mess.